a,
a:focus,
a:hover {
  color: #555;
}

html,
body {
  height: 100%;
  background-color: #fafafa;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #555;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .2);
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

strong {
  font-weight: 700;
}

.cover-container {
  max-width: 42em;
}

.lead {
  margin: 0.5em auto 1em;
  font-size: 2em;
}

.container {
  margin-top: 3em;
}

.mastfoot {
  color: #999;
  font-size: 0.8em;
}

.mastfoot a,
.mastfoot a:hover,
.mastfoot a:focus {
  color: #999;
  font-weight: 700;
}
